@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
    max-width: 1600px;
    background-image: linear-gradient(-45deg, #fff 25%, #d9d9d9 25%, #d9d9d9 50%, #fff 50%, #fff 75%, #d9d9d9 75%, #d9d9d9);
    background-size: 8px 8px;
    margin: 0 auto;
}

.head {
    align-items: center;
}

body{
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 500;
}

header {
    background-color: #fff;
    color: #000;
    height: 60px;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    height: 40px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexBetween{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flexStart{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexEnd{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.block{
    display: block;
}

.fLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.mt10{
    margin-top: 10px;
}

.h40{
    height: 40px;
}

.h36 {
    height: 36px;
}

.h28 {
    height: 28px;
}

.w420 {
    width: 420px;
}

.w415 {
    width: 415px;
}

.w407 {
    width: 407px;
}

.w245 {
    width: 245px;
}

.w237 {
    width: 237px;
}

.w116 {
    width: 116px;
}

.w108 {
    width: 108px;
}

.w40{
    width: 40px;
}

.w36{
    width: 36px;
}

.w27{
    width: 27px;
}

.bottom5{
    margin-bottom: 5px;
}

.letterWhite {
    color: #fff;
}

.chooser {
    background-color: #fff;
    width: 420px;
    height: 40px;
    margin-left: 550px;
    margin-right: auto;
    border: #000 1px solid;
    font-size: 20px;
}

.chooserSize {
    width: 420px;
    padding: 5px 10px;
}

.chooserSize-wrapper {
    position: relative;
}

.chooserSize-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 20px;
}

.addButton {
    background-color: #fff;
    width: 120px;
    height: 40px;
    margin-right: 5px;
    border: #000 1px solid;
    cursor: pointer;
}

.buttonCover{
    background-color: #fff;
    margin-right: 5px;
    border: #000 1px solid;
    cursor: pointer;
}

.Yellow {
    background-color: #9D551E;
}

.YellowContent {
    background-image: linear-gradient(-45deg, #ff7800 40%, #ff9e48 5%, #ff9e48 50%, #ff7800 40%, #ff7800 90%, #ff9e48 10%, #ff9e48);
    background-size: 8px 8px;
    color: #fff;
}

.Yellow:active {
    background-color: #ebded5;
}

.YellowContent:active {
    background-image: linear-gradient(-45deg, #ffe4cc 40%, #ff9e48 5%, #ff9e48 50%, #ffe4cc 40%, #ffe4cc 90%, #ff9e48 10%, #ff9e48);
    background-size: 8px 8px;
    color: #fff;
}

.LogOut {
    background-color: #fff;
    width: 120px;
    height: 40px;
    margin-right: 20px;
    border: #000 1px solid;
}

.Black {
    background-color: #616161;
}

.BlackContent {
    background-image: linear-gradient(-45deg, #222222 40%, #4b4b4b 5%, #4b4b4b 50%, #222222 40%, #222222 90%, #4b4b4b 10%, #4b4b4b);
    background-size: 8px 8px;
    color: #fff;
}

.Black:active {
    background-color: #dfdfe1;
}

.BlackContent:active {
    background-image: linear-gradient(-45deg, #d3d3d3 40%, #555555 5%, #555555 50%, #d3d3d3 40%, #d3d3d3 90%, #555555 10%, #555555);
    background-size: 8px 8px;
    color: #fff;
}

.back {
    background-color: #000;
    max-width: 700px;
    margin: 0 auto;
}

.winrate {
    color: #fff;
    text-align: center;
}

.playerBack {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 170px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showPRate {
    color: #fff;
    position: relative;
    right: -25px;
    z-index: 1;
}

.playerPart {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 315px;
    height: 150px;
    font-size: 18px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playerPart::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    right: -55px;
    background-color: #000;
    background: linear-gradient(to right, black 53%, transparent);
}

.playerImg {
    /* Img2 */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 345px;
    height: 150px;
    object-position: center;
    overflow: hidden;
}

.backPart {
    background-image: linear-gradient(-45deg, #fff 25%, #d9d9d9 25%, #d9d9d9 50%, #fff 50%, #fff 75%, #d9d9d9 75%, #d9d9d9);
    background-size: 8px 8px;
    width: 690px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green {
    background-color: green;
}

.title {
    display: flex;
    justify-content: flex-end;
}

.item {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 200px;
    height: 60px;
    background-color: #d9d9d9;
    color: #000;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemList {
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    background-color: #d9d9d9;
    color: #000;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemListR {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
    background-color: #d9d9d9;
    color: #000;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBack {
    width: 700px;
    background-image: linear-gradient(-45deg, #fff 25%, #d9d9d9 25%, #d9d9d9 50%, #fff 50%, #fff 75%, #d9d9d9 75%, #d9d9d9);
    background-size: 8px 8px;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    margin: 5px;
}

.titleImg {
    /* Img1 */
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to right, white 85%, transparent);
    object-position: center;
    object-fit: cover;
    height: 70px;
    width: 285px;
    margin-left: 5px;
    background: linear-gradient(270deg, white);
    display: flex;
    justify-content: flex-start;
    align-items: end;
}

.posPlayer {
    display: flex;
    justify-content: flex-start;
    align-items: end;
    width: 290px;
    background-color: #000;
}

.posRate {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    width: 690px;
    margin-bottom: 5px;
    margin-left: 5px;
    background-image: linear-gradient(-45deg, #fff 25%, #d9d9d9 25%, #d9d9d9 50%, #fff 50%, #fff 75%, #d9d9d9 75%, #d9d9d9);
    background-size: 8px 8px;
}

.YPos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/*==============================================================================================

	registerMatch

==============================================================================================*/

.headerPart{
    position: relative;
    margin-top: 5px;
    padding-left: 25px;
    margin-left: 5px;
    border-bottom: 1px solid #fff;
    width: 610px;
}

.headerPart::before{
    content: "";
    background: url('../../public/images/standByWhite.png') no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
}

.matchBack{
    background-color: #000;
    width: 620px;
    height: auto;
    margin-top: 30px;
}

.align_center {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
    place-items: center;
    column-gap: 5px;
    row-gap: 10px;
}

.align_select {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(1,200px);
    text-align: center;
    place-items: center;
    column-gap: 5px;
    row-gap: 10px;
}

.standByAnim {
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url('../../public/images/standByImg.png');
    background-size: contain;
    width: 90px;
    height: 80px;
    animation: 0.8s linear infinite rotation3;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes rotation3 {
    0% { transform: rotateY(0); }
    100% { transform: rotateY(360deg); }
}

.forStay {
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.forStay::after {
    position: absolute;
    content: "入力待機中";
    width: 100px;
    height: 104px;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}

.submitButton {
    position: relative;
}

.submitButton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: transparent;
}

.BlueContent {
    position: relative;
    background-image: linear-gradient(-45deg, #c2c6e9 40%, #97a1ff 5%, #97a1ff 50%, #c2c6e9 40%, #c2c6e9 90%, #97a1ff 10%, #97a1ff);
    background-size: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.blueLabel{
    position: relative;
    background-image: linear-gradient(-45deg, #2c43dd 40%, #2f4afe 5%, #2f4afe 50%, #2c43dd 40%, #2c43dd 90%, #2f4afe 10%, #2f4afe);
    background-size: 8px 8px;
    display: flex;
    align-items: center;
    width: 610px;
    height: 30px;
    color: #fff;
    margin-top: 5px;
    padding-left: 28px;
}

.blueLabel::before{
    content: '▼';
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
}

.blueName{
    position: absolute;
    bottom: 0;
    background-color: rgba(12, 1, 130, 0.85);
    margin-top: auto;
    text-transform: translate(-50%, -50%);
    width: 200px;
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.RedContent {
    position: relative;
    background-image: linear-gradient(-45deg, #e9c3c3 40%, #ffa0a0 5%, #ffa0a0 50%, #e9c3c3 40%, #e9c3c3 90%, #ffa0a0 10%, #ffa0a0);
    background-size: 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.redLabel{
    position: relative;
    background-image: linear-gradient(-45deg, #ff0000 40%, #ff4848 5%, #ff4848 50%, #ff0000 40%, #ff0000 90%, #ff4848 10%, #ff4848);
    /* background-image: linear-gradient(-45deg, #de2e2e 40%, #fe2f2f 5%, #fe2f2f 50%, #de2e2e 40%, #de2e2e 90%, #fe2f2f 10%, #fe2f2f); */
    background-size: 8px 8px;
    display: flex;
    align-items: center;
    width: 610px;
    height: 30px;
    color: #fff;
    margin-top: 5px;
    padding-left: 28px;
}

.redLabel::before{
    content: '▼';
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
}

.redName{
    position: absolute;
    bottom: 0;
    background-color: rgba(137, 4, 4, 0.85);
    margin-top: auto;
    text-transform: translate(-50%, -50%);
    width: 200px;
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.matchContent{
    background-image: linear-gradient(-45deg, #fff 25%, #d9d9d9 25%, #d9d9d9 50%, #fff 50%, #fff 75%, #d9d9d9 75%, #d9d9d9);
    background-size: 8px 8px;
    width: 610px;
    height: 150px;
    margin-top: 5px;
    flex-direction: column;
}

.searchLabel{
    position: absolute;
    margin-top: 110px;
    width: 200px;
    height: 25px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stageShowPart{
    background-image: linear-gradient(-45deg, #959595 40%, #828282 5%, #828282 50%, #959595 40%, #959595 90%, #828282 10%, #828282);
    background-size: 8px 8px;
    transform: translateY(30px);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 5px 15px;
}

.characterImg{
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: contain;
    visibility: hidden;
}

input[type = radio]{
    display: none;
}

/*===============================================
	勝敗ボタン
================================================*/
.BlueButton {
    background-color: #1E3A9D;
}

.BlueButtonContent {
    background-image: linear-gradient(-45deg, #2c43dd 40%, #2d67fb 5%, #2d67fb 50%, #2c43dd 40%, #2c43dd 90%, #2d67fb 10%, #2d67fb);
    background-size: 8px 8px;
    color: #fff;
}

.BlueButton:active {
    background-color: #d5e0eb;
}

.BlueButtonContent:active {
    background-image: linear-gradient(-45deg, #c4c7ff 40%, #2d67fb 5%, #2d67fb 50%, #c4c7ff 40%, #c4c7ff 90%, #2d67fb 10%, #2d67fb);
    background-size: 8px 8px;
    color: #fff;
}

.reBlueButton {
    background-color: #d5e0eb;
}

.reBlueButtonContent {
    background-image: linear-gradient(-45deg, #c4c7ff 40%, #2d67fb 5%, #2d67fb 50%, #c4c7ff 40%, #c4c7ff 90%, #2d67fb 10%, #2d67fb);
    background-size: 8px 8px;
    color: #fff;
}

.reBlueButton:active {
    background-color: #1E3A9D;
}

.reBlueButtonContent:active {
    background-image: linear-gradient(-45deg, #2c43dd 40%, #2d67fb 5%, #2d67fb 50%, #2c43dd 40%, #2c43dd 90%, #2d67fb 10%, #2d67fb);
    background-size: 8px 8px;
    color: #fff;
}

.RedButton {
    background-color: #9D1E1E;
}

.RedButtonContent {
    background-image: linear-gradient(-45deg, #ff0000 40%, #ff4848 5%, #ff4848 50%, #ff0000 40%, #ff0000 90%, #ff4848 10%, #ff4848);
    background-size: 8px 8px;
    color: #fff;
}

.RedButton:active {
    background-color: #ebd5d5;
}

.RedButtonContent:active {
    background-image: linear-gradient(-45deg, #ffc4c4 40%, #ff4848 5%, #ff4848 50%, #ffc4c4 40%, #ffc4c4 90%, #ff4848 10%, #ff4848);
    background-size: 8px 8px;
    color: #fff;
}

.reRedButton {
    background-color: #ebd5d5;
}

.reRedButtonContent {
    background-image: linear-gradient(-45deg, #ffc4c4 40%, #ff4848 5%, #ff4848 50%, #ffc4c4 40%, #ffc4c4 90%, #ff4848 10%, #ff4848);
    background-size: 8px 8px;
    color: #fff;
}

.reRedButton:active {
    background-color: #9D1E1E;
}

.reRedButtonContent:active {
    background-image: linear-gradient(-45deg, #ff0000 40%, #ff4848 5%, #ff4848 50%, #ff0000 40%, #ff0000 90%, #ff4848 10%, #ff4848);
    background-size: 8px 8px;
    color: #fff;
}

.roleIcon{
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(75px, -75px);
    opacity: 0.96;
    z-index: 1;
}



.selectContainer {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.selectContainer select {
    width: 100%;
    height: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: rgb(0, 0, 0,0%);
}

.selectContainer::before {
    content: 'ステージ選択';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
}

.selectForm {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 200px;
    opacity: 0;
    z-index: 1;
}

/*==============================================================================================

	モーダル部分

==============================================================================================*/
.character-name{
    font-weight: 900;
    margin-bottom: 5px;
}

.modalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: rgb(0, 0, 0,70%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.modalCancelPart{
    width: 100%;
    height: 100%;
}

.modal{
    background-image: linear-gradient(-45deg, #fff 25%, #d9d9d9 25%, #d9d9d9 50%, #fff 50%, #fff 75%, #d9d9d9 75%, #d9d9d9);
    background-size: 8px 8px;
    width: 415px;
    height: auto;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 600;
    line-height: 1.5;
}

.confirmImg{
    width: 14.6px;
    height: 20px;
    margin-left: 5px;
    object-position: center;
    object-fit: cover;
}

.modalConfirm{
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 2px;
    width: 415px;
    border-bottom: 1px solid #fff;
}

.headerConfirm{
    padding-left: 10px;
}

/* .headerConfirm::before{
    content: "";
    background: url('../../public/images/confirm.png') no-repeat;
    background-size: contain;
    padding-left: 25px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-right: 5px;
    padding-bottom: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
} */